---
import Wrapper from "../shared/Wrapper.astro";
import "./video.scss";
---

<div class="impact-video">
  <Wrapper>
    <div class="impact-video-container">
      <div set:html={Astro.props.data.videoEmbed} />
    </div>
  </Wrapper>
</div>
