$primaryColor: #0b5f63;
$secondaryColor: #10764b;
$tertiaryColor: #3f4728;
$accentColor: #0b5f63;
$shadowColor: #10764b;
$blackColor: #000;
$whiteColor: #fff;
$creamColor: #dfd8c7;
$greyColor: #6c6d70;
$greyBrownColor: #403f3f;
