@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/paragraphs";

.of-form-textarea {
  position: relative;
  width: calc(100% - 7rem);
  margin: 1rem auto;
  margin-right: 7rem;
  margin-bottom: 3rem;
  padding: 1rem 0;

  label {
    @extend .p-two;
    display: block;
    width: 100%;
    line-height: 1.5;

    .error-message {
      display: none;
    }

    .error-active {
      display: inline-block;
      color: red;
      padding-left: 2rem;
    }

    textarea {
      @extend .p-two;
      display: block;
      margin-top: 0.25rem;
      margin-bottom: 0.5rem;
      padding: 0.9rem 1rem;
      border: 0.1rem solid $primaryColor;
      border-radius: 0;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
  }

  .of-form-textarea-error {
    position: absolute;
    top: -1rem;
    left: 0;
    color: red;
    font-size: 1rem;
  }
}
