@use "../../styles/abstracts/" as *;
@use "../../styles/global/headlines";

.about-reports {
  &-title {
    width: 100%;
    text-align: center;

    h2 {
      @extend .hl-one;
      color: $primaryColor;
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;

    &-item {
      width: 100%;
      margin-bottom: 2.5rem;

      @media (min-width: 768px) {
        width: calc(50% - 3rem);
        margin: 1.5rem 1.5rem;
      }

      @media (min-width: 1025px) {
        width: calc(33.333333% - 3rem);
        margin: 1.5rem 1.5rem;
      }
    }
  }
}
