.imgstrip {
  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  &-img {
    width: calc(100% / 2);

    @media (min-width: 768px) {
      width: calc((100% / 4) - 2rem);
      margin: 2rem 1rem;
    }
  }
}
