---
import { Image } from "astro:assets";
import "./imagesStrip.scss";
---

<div id="image-strip" class="imgstrip">
  <div class="imgstrip-wrapper">
    {
      Astro.props.data.images.map((image) => {
        return (
          <div class="imgstrip-img">
            <Image
              src={image.image.sourceUrl}
              alt={image.image.altText}
              inferSize={true}
            />
          </div>
        );
      })
    }
  </div>
</div>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const triggerContainer = document.querySelector("#image-strip");
  const setps = document.querySelectorAll(".imgstrip-img");

  if (triggerContainer && setps) {
    gsap.fromTo(
      setps,
      { autoAlpha: 0, y: 200 },
      {
        duration: 1,
        autoAlpha: 1,
        y: 0,
        ease: "power2.out",
        scrollTrigger: {
          start: "top 30%",
          markers: false,
          trigger: triggerContainer,
        },
        stagger: {
          each: 0.5,
        },
      },
    );
  }
</script>
