---
import Wrapper from "../shared/Wrapper.astro";
import "./quoteLink.scss";
---

<div class="quotelink">
  <Wrapper>
    <div class="quotelink-inner">
      <div class="quotelink-quote" set:html={Astro.props.data.content} />
      <div class="quotelink-author">
        <p>&#8211; {Astro.props.data.author}</p>
      </div>
      <div class="quotelink-link">
        <a href={Astro.props.data.linkUrl.uri}>{Astro.props.data.linkText}</a>
      </div>
    </div>
  </Wrapper>
</div>
