@use "../../styles/abstracts/" as *;
@use "../../styles/global/paragraphs";
@use "../../styles/global/headlines";
@use "../../styles/global/wrappers";

.contact-form {
  padding: 4rem 0;

  &-wrapper {
    @extend .wrap-med;
  }

  &-intro {
    width: calc(100%);

    @media (min-width: 768px) {
      width: calc(30%);
    }

    h2 {
      @extend .hl-one;
      color: $primaryColor;
      text-transform: uppercase;
      font-weight: 700;
    }

    p {
      @extend .p-two;
    }
  }

  &-fields {
    width: calc(100%);

    @media (min-width: 768px) {
      width: calc(70%);
    }
  }
}
