@use "../../styles/abstracts/" as *;
@use "../../styles/global/paragraphs";
@use "../../styles/global/headlines";
@use "../../styles/global/wrappers";
@use "../../styles/global/buttons";

.contact-form {
  padding: 4rem 0;

  &-wrapper {
    @extend .wrap-med;
  }

  &-intro {
    width: calc(100%);

    @media (min-width: 768px) {
      width: calc(30%);
    }

    h2 {
      @extend .hl-one;
      color: $primaryColor;
      text-transform: uppercase;
      font-weight: 700;
    }

    p {
      @extend .p-two;
    }
  }

  &-fields {
    width: calc(100%);

    @media (min-width: 768px) {
      width: calc(70%);
    }

    &-input-wrapper {
      @extend .wrap-stand;
      position: relative;
      width: calc(100%);
      padding: 0;
      z-index: 10;

      @media (min-width: 768px) {
        padding: 0 2rem;
      }
    }

    .button-wrapper {
      margin-top: 2.5rem;

      button {
        @extend .btn-one;
      }
    }
  }
}
