@use "../../styles/abstracts/" as *;
@use "../../styles/global/paragraphs";

.mail-cont {
  padding: 2.5rem 0;
  background-color: $tertiaryColor;

  h2 {
    @extend .p-one;
    color: $whiteColor;
    text-transform: uppercase;
  }

  p,
  h3 {
    @extend .p-two;
    color: $whiteColor;
  }

  h3 {
    margin-bottom: 0;
  }

  &-mailing {
    width: calc(100%);

    @media (min-width: 768px) {
      width: calc(50%);
    }

    @media (min-width: 1025px) {
      width: calc(50% - 7.5rem);
      margin-right: 7.5rem;
    }
  }

  &-contact {
    width: calc(100%);

    @media (min-width: 768px) {
      width: calc(50% - 7.5rem);
      margin-left: 7.5rem;
    }
  }
}
