@use "../../styles/abstracts/" as *;
@use "../../styles/global/headlines";
@use "../../styles/global/paragraphs";

.grants-list {
  &-header {
    position: relative;
    height: 36rem;

    &-title {
      position: absolute;
      z-index: 100;
      top: 50%;
      right: 0;
      left: 0;
      transform: translateY(-50%);
      padding: 4.5rem;
      background-color: rgba($secondaryColor, 0.8);
      text-align: center;

      @media (min-width: 768px) {
        right: auto;
      }

      h2 {
        @extend .hl-one;
        color: $whiteColor;
        text-transform: uppercase;
      }
    }

    &-bgimage {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &-item {
    width: 100%;
    margin-bottom: 2.5rem;

    &-year {
      &-title {
        background-color: $primaryColor;
        border-radius: 1.4rem;
        transition: all 0.3s ease-in-out;

        button {
          @extend .hl-one;
          width: 100%;
          display: flex;
          justify-content: space-between;
          color: $whiteColor;
          padding: 3.5rem 6rem;
          margin: 0;
          font-weight: 700;
          background-color: transparent;
          border: none;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          span:last-of-type {
            display: inline-block;
            border: 0.2rem solid $whiteColor;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            text-align: center;
            font-weight: 300;
            line-height: 1.175;
            transition: all 0.3s ease-in-out;
          }
        }
      }

      &-content {
        background-color: rgba(#10764b, 0.15);
        height: 0;
        overflow: hidden;
        border-bottom-right-radius: 1.4rem;
        border-bottom-left-radius: 1.4rem;

        &-inner {
          padding: 0 6rem 2rem;
        }

        h3 {
          @extend .hl-one;
          margin: 0;
          margin-bottom: 2rem;
          color: $primaryColor;
          font-weight: 700;
        }

        p {
          @extend .p-two;
        }
      }
    }

    &-active {
      .grants-list-item-year {
        &-title {
          background-color: rgba(#10764b, 0.15);
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;

          button {
            color: $primaryColor;

            span {
              border-color: $primaryColor;
            }
          }
        }
      }
    }
  }
}
