---
import Wrapper from "../shared/Wrapper.astro";
import "./listGrants.scss";
import ListItem from "./ListItem.jsx";
---

<div class="grants-list">
  <Wrapper>
    {
      Astro.props.data.grants.map((grant) => {
        return <ListItem client:only="react" grant={grant} />;
      })
    }
  </Wrapper>
</div>
