@use "../styles/abstracts/" as *;
@use "../styles/global/buttons";
@use "../styles/global/paragraphs";

.main-footer {
  background-color: $primaryColor;
  padding: 3rem 0;

  &-wrap {
    align-items: flex-start;
  }

  &-contact {
    width: calc(100%);
    margin-bottom: 2.5rem;

    @media (min-width: 1025px) {
      width: calc(100% / 3);
      margin-bottom: 0;
      padding: 0 1rem;
    }

    &-donate {
      width: 100%;

      a {
        @extend .btn-one;
        border-radius: 0;
        background-color: transparent;
        color: $whiteColor;
        border-color: $whiteColor;
      }
    }

    &-info {
      width: 100%;
      margin: 1.5rem 0;

      p,
      a {
        @extend .p-three;
        margin: 0;
        color: $whiteColor;
      }

      a {
        text-decoration: underline;

        &:hover {
          color: $tertiaryColor;
        }
      }
    }

    &-address {
      width: 100%;

      p {
        @extend .p-three;
        margin: 0;
        color: $whiteColor;
      }
    }
  }

  &-newsletter {
    width: calc(100%);
    background-color: rgba($blackColor, 0);
    padding: 0;

    @media (min-width: 1025px) {
      width: calc(100% / 3);
      padding: 0 2rem;
    }

    p {
      @extend .p-one;
      margin: 0;
      margin-bottom: 2.2rem;
      color: $whiteColor;
    }

    a {
      // @extend .btn-two;
    }

    &-icons {
      margin-top: 2.5rem;

      @media (min-width: 768px) {
        text-align: center;
      }

      p {
        @extend .p-three;
        margin: 0;
        color: $whiteColor;
        text-transform: uppercase;
      }

      ul {
        display: flex;
        justify-content: flex-start;
        margin-top: 1rem;
        margin-bottom: 2.5rem;

        @media (min-width: 768px) {
          justify-content: center;
        }

        li {
          margin-right: 0.5rem;
          padding: 0 0.5rem;

          a {
            @extend .p-three;
            display: block;
            position: relative;
            width: 4rem;
            height: 4rem;
            padding: 1rem;
            border-radius: 50%;
            background-color: $whiteColor;

            @media (min-width: 768px) {
              width: 2.6rem;
              height: 2.6rem;
            }
            @media (min-width: 1025px) {
              width: 4rem;
              height: 4rem;
              padding: 0.75rem;
            }

            &:focus {
              outline: 0.4rem solid #003b49;
              transition: outline-width 0.35s ease-in-out;
            }

            svg {
              transition: all 0.3s ease-in;
              fill: $accentColor;
            }

            &:hover {
              background-color: $blackColor;

              svg {
                fill: $whiteColor;
              }
            }

            .visuallyhidden {
              border: 0;
              clip: rect(0 0 0 0);
              height: 1px;
              margin: -1px;
              overflow: hidden;
              padding: 0;
              position: absolute;
              white-space: nowrap;
              width: 1px;
            }
          }
        }
      }
    }
  }

  &-social {
    width: calc(100%);

    @media (min-width: 1025px) {
      width: calc(100% / 3);
      margin-top: 0;
      padding: 0 1rem;
      text-align: center;
    }

    p {
      @extend .p-three;
      margin: 0;
      color: $whiteColor;
      text-transform: uppercase;
    }

    &-members {
      margin-top: 2.5rem;

      p {
        margin-bottom: 1rem;
      }

      li {
        max-width: 18rem;

        @media (min-width: 1025px) {
          margin: auto;
        }
      }
    }
  }
}
