@use "../styles/abstracts/" as *;

.header {
  position: relative;
  background: linear-gradient(
    to bottom,
    $secondaryColor 0rem,
    $secondaryColor 2.7rem,
    rgba($whiteColor, 0.8) 2.7rem,
    rgba($whiteColor, 0.8) 100%
  );
  padding-top: 2.7rem;

  &-wrap {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

  &-logo {
    position: absolute;
    top: 0;
    right: 2rem;
    left: 2rem;
    width: 15rem;
    height: 15rem;
    margin: auto;
    padding: 1rem;
    background-color: $whiteColor;

    @media (min-width: 768px) {
      width: 15rem;
      height: 15rem;
      margin: auto;
    }

    @media (min-width: 1025px) {
      top: 0;
      right: auto;
      left: 2rem;
      width: 15rem;
      height: 15rem;
      margin: 0;
    }

    @media (min-width: 1040px) {
      width: 20rem;
      height: 20rem;
    }

    h1 {
      margin: 0;
      span {
        position: absolute;
        left: -999%;
      }
    }
  }

  &-navigation {
    display: none;

    @media (min-width: 769px) {
      display: block;
      width: calc(100%);
      align-self: center;
    }

    @media (min-width: 1025px) {
      width: calc(100%);
      align-self: flex-end;
    }
  }

  &-mobile {
    display: block;

    @media (min-width: 769px) {
      display: none;
    }
  }
}
